@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

:root {
  --cor0: #028000;
  --cor1: #1aa018;
  --cor2: #04ff00;
  --cor3: #03cc00;
  --cor4: #75ff73;
}

header {
  display: flex;
  align-items: center;
  color: white;
  background-image: linear-gradient(to right, var(--cor1), var(--cor4));
  text-shadow: 1px 1px 2px black;
  gap: 0.625em;
}

h1,
h2 {
  font-family: 'Century', sans-serif;
}

#cabeçalho {
  display: unset;
  line-height: 2;
}

section {
  padding: 5px;
  margin: 5px;
  line-height: 1.5;
  border: 5px solid var(--cor3);
  border-radius: 10px;
}

div {
  display: flex;
  gap: 5px;
  margin-top: 1em;
}

h3 {
  font-size: 1.8em;
  color: white;
  font-family: 'Monotype Corsiva', sans-serif;
  background-image: linear-gradient(to right, var(--cor3), white);
  border-radius: 5px;
  text-shadow: 1px 1px 2px black;
}

input {
  text-align: center;
}

button {
  background: var(--cor3);
  color: white;
  font-weight: bold;
  font-size: 12pt;
  padding: 5px;
  border-radius: 5px;
  border: 2pt solid var(--cor1);
  align-items: center;
}

#igual {
  padding: 5px;
  font-weight: bold;
}

.taxaRecicloCalculada {
  border: 1pt solid black;
  padding: 2px;
  height: 30px;
  width: 60px;
  text-align: center;
  border-radius: 2px;
  align-items: center;
  margin-top: 3px;
}

#botãoPrevisões {
  background: var(--cor3);
  color: white;
  font-weight: bold;
  font-size: 12pt;
  padding: 5px;
  border-radius: 5px;
  border: 2pt solid var(--cor1);
  width: 500px;
}

#parâmetros {
  font-size: 16pt;
}

.vazãoMosto,
.spVolumeDF01,
.spVolumeDF02,
.spVolumeDF03 {
  margin-left: 9px;
}

#dadosPrevisões {
  display: flex;
  justify-content: space-between;
  background: var(--cor4);
  border-radius: 2px;
}

#previsãoTempo {
  border: none;
  font-weight: bold;
}

#previsãoVolume {
  border: none;
  font-weight: bold;
  padding-right: 90px;
}

.resTempoDF01,
.resTempoDF02,
.resTempoDF03,
.resTempoDF04,
.resTempoFermentação,
.resPeDeCubaDF01,
.resFermentoDF02,
.resFermentoDF03,
.resFermentoDF04,
.resFermentoCubas,
.horaDF01,
.horaDF02,
.horaDF03,
.horaDF04,
.horaFermentação {
  border: 1pt solid var(--cor1);
  height: 25px;
  width: 70px;
  text-align: center;
  border-radius: 2px;
  background: white;
}

#tempoDF01,
#tempoDF02,
#tempoDF03,
#tempoDF04,
#tempoFermentação,
#peDeCubaDF01,
#fermentoDF02,
#fermentoDF03,
#fermentoDF04,
#fermentoCubas {
  border: 2pt solid var(--cor1);
  border-radius: 2px;
  color: var(--cor1);
  padding: 5px;
  text-shadow: 0.05em 0.05em var(--cor0);
  background: white;
  align-items: center;
  width: 100%;
}
